<div class="list">
    <h1>To-Do</h1>
    <div>
        <div class="task" *ngFor="let t of tasks">
            <div>
                <mat-checkbox [(ngModel)]="t.done" (ngModelChange)="updateTask(t)">
                    {{ t.name }}

                </mat-checkbox>
                <p class="desc">{{ t.description }}</p>
            </div>
            <div>
                <button class="b" (click)="deleteTask(t.id)">
                    <mat-icon fontIcon="delete" [ngStyle]="{'color':'#1E1E1E'}"></mat-icon>
                </button>
                <button class="b"(click)="openEdit(t)">
                    <mat-icon fontIcon="edit" [ngStyle]="{'color':'#1E1E1E'}"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <button class="add" (click)="openAdd()">
        Add
    </button>
</div>