* {
    margin: 0;
    padding: 0;
    color: #fafafa;
}

.b {
    height: 40px;
    width: 40px;
}

h1 {
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
}

.add {
    padding: 7px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    height: 2vw;
    margin: 12px;
}

button {
    background-color: white;
    color: #1E1E1E;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
    vertical-align: middle;
    font-family: inherit;
    border: none;
    font-size: 20px;
}

.list {
    border-radius: 12px;
    width: 40vw;
    padding: 11px 13px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    background-color: #1E1E1E;
    font-size: 22px;
}

.task {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    padding: 10px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.desc {
    font-size: 15px;
    padding-left: 25px;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: black !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: black !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: black !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-label {
    text-decoration: line-through;
}