<div>
    <p>
        Task Title
        <mat-form-field appearance="outline">
            <input matInput type="text" [(ngModel)]="myTask.name" (keydown.enter)="addTask()" required>
        </mat-form-field>
    </p>

    <p>
        Description
        <mat-form-field appearance="outline">
            <input matInput type="text" [(ngModel)]="myTask.description" (keydown.enter)="addTask()" required>
        </mat-form-field>
    </p>

    <button class="add" (click)="addTask()">Salvar</button>
</div>