<div class="e">
    Task Title
    <p>
        <mat-form-field appearance="outline">
            <input matInput type="text" [(ngModel)]="myTask.name" (keydown.enter)="saveTask()" required>
        </mat-form-field>
    </p>
    Description
    <p>
        <mat-form-field appearance="outline">
            <input matInput type="text" [(ngModel)]="myTask.description" (keydown.enter)="saveTask()" required>
        </mat-form-field>
    </p>
    <button class="add" (click)="saveTask()">Save</button>
</div>