* {
    font-family: 'Mukta', sans-serif;
}

button {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
    vertical-align: middle;
    font-family: inherit;
    width: 100%;
}

.add {
    padding: 7px;
    font-weight: bold;
}